{% extends "parent.html"%}
{% block icerik%}
<h1 class="page-title">Ana Sayfa</h1>
<ul class="user-list">

    <form method="post" class="search-form">
        <input type="text" name="sea" class="search-input" placeholder="Kullanıcı adı ara" value="{{ ar }}">
        <button type="submit" class="search-button">Ara</button>
    </form>
            {% for kullanici in users %}
            <a href="{{ url_for('private_chat', target_user_id=kullanici.telefonNo, target_username=kullanici.ad) }}">
                <li class="user-item">{{ kullanici.ad }} </li></a>
            {% endfor %}

</ul>
{% endblock %}