<!DOCTYPE html> 
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    {% if baslik %}
        <title>Chat app - {{ baslik }}</title> 
    {% else %}
        <title>Chat app</title> 
    {% endif %}
    {% block bas %} {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='Kayit_Style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>                  
                <li>{{ messages[0] }}</li>
            </ul>
        {% endif %}
    {% endwith %}

    {% block icerik %} {% endblock %}
</body>
<script>
    const socket = io();

    function logoutUser() {
    socket.emit("logout"); // Socket üzerinden logout isteği gönder
    //window.location.href = "{{ url_for('logout') }}"; // Çıkış işlemi için Flask yönlendirmesi
}

    // Sunucuya bağlanma
    socket.on("connect", () => {
        console.log("Sunucuya bağlandı.");
        socket.emit("users");
    });

    
    let activeUsersList = [];

    socket.on("users", function(users) {
        const userList = document.getElementById("users-list");
        userList.innerHTML = ''; 

        for (const [userId, user] of Object.entries(users)) {
            if (user.username === "{{ session['kullaniciAdi'] }}") continue; // Oturum açan kullanıcıyı hariç tut veritabanındaki kullanıcıların hepsini tek tek gez

            const li = document.createElement("li");
            li.id = "user-" + userId;

            const a = document.createElement("a");
            a.href = `/private_chat/${userId}`;
            a.textContent = user.username;

            
            if (activeUsersList.includes(user.username)) {
                const dot = document.createElement("span");
                dot.classList.add("status-dot");
                a.appendChild(dot);
            }

            li.appendChild(a);
            userList.appendChild(li);
        }
    });

    
    socket.on("active_users", (activeUsers) => {
        
    });
    socket.on("room_active_users", (room_active_users) => {
        
    });

  
    function sendBroadcastMessage() {
        const message = document.getElementById("broadcast-message").value;
        if (message) {
            socket.emit("broadcast_message", { message: message });
            document.getElementById("broadcast-message").value = '';
        }
    }
</script>
</html>